* {
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

li {
  color: black;
}

li:hover {
  /* color: #0000ee; */
  font-weight: bold;
}

/* Header section */

header {
  /* border: 3px solid green; */
  background-color: skyblue;

  display: grid;
  grid-auto-flow: column;

  place-items: center;

  position: sticky;
  top: 0px;
}

header ul li {
  display: inline;

  padding: 10px;
}

header .nav li:hover {
  text-decoration: underline;
}

.sign {
  border-radius: 50px;
  padding: 10px;
}

.sign-in {
  color: blue;
  border: 2px solid blue;
}
.sign-in li:hover,
.sign-in:hover,
.sign-in:hover li {
  color: #fff;
  background-color: blue;
}

.sign-up {
  color: darkblue;
  border: 2px solid darkblue;
}
.sign-up li:hover,
.sign-up:hover,
.sign-up:hover li {
  color: white;
  background-color: darkblue;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;

  margin-right: 6rem;
  margin-left: 6rem;

  grid-gap: 10px;

  padding: 10px;
}

/* Welcome section */

article.welcome {
  color: white;
  background: linear-gradient(90deg, black, purple);

  display: grid;
  gap: 20px;

  place-items: center;

  padding: 50px;
}

.welcome h1 {
  font-size: 8rem;
  text-align: center;
}

.welcome p {
  margin-bottom: 4rem;
}

.welcome h1,
.welcome h2,
.welcome p {
  margin-right: 6rem;
  margin-left: 6rem;
}

/* aside section */

aside {
  display: grid;
  grid-auto-rows: auto 1fr;
}

.sort {
  padding: 10px;

  border-radius: 10px;

  border: 1px solid skyblue;
  box-shadow: 2px 1px 0px skyblue;
}

.sort form {
  padding: 10px;
}

/* Main section */

main {
  display: grid;
  grid-auto-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main .card {
  padding: 10px;

  border: 2px solid red;

  display: grid;
  grid-template:
    "img info" auto /
    auto 1fr;

  grid-gap: 10px;

  /* place-items: center; */
}

main .card .img .game-logo {
  grid-area: img;
  height: 10px;
}
main .card .info {
  grid-area: info;
}

main .card .info {
  display: grid;
  grid-template:
    "h2" auto
    "h3" auto
    "stats" auto/
    1fr;
}

main .card .info h2 {
  grid-area: h2;
}

main .card .info h3 {
  grid-area: h3;
}

main .card .info .stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: repeat(1fr);
}

/* Footer section */

footer {
  background-color: skyblue;

  display: grid;
  grid-auto-rows: auto;

  place-items: center;

  grid-gap: 20px;

  padding: 10px;
  padding-bottom: 4rem;
}

footer ul li {
  display: inline;
  padding: 10px;
}
